Importing Libraries

In [1]:
import pandas as pd  
import numpy as np

In [2]:
df = pd.read_csv("news.csv")  
df.head()

,Unnamed: 0,title,text,label
0,8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
2,3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL
3,10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE
4,875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6335 entries, 0 to 6334
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  6335 non-null   int64
 1   title       6335 non-null   object
 2   text        6335 non-null   object
 3   label       6335 non-null   object
dtypes: int64(1), object(3)
memory usage: 198.1+ KB

In [4]:
df.describe()

         Unnamed: 0
count   6335.000000
mean    5280.415627
std     3038.503953
min        2.000000
25%     2674.500000
50%     5271.000000
75%     7901.000000
max    10557.000000

In [5]:
df.tail()

,Unnamed: 0,title,text,label
6330,4490,State Department says it can't find emails fro...,The State Department told the Republican Natio...,REAL
6331,8062,The ‘P’ in PBS Should Stand for ‘Plutocratic’ ...,The ‘P’ in PBS Should Stand for ‘Plutocratic’ ...,FAKE
6332,8622,Anti-Trump Protesters Are Tools of the Oligarc...,Anti-Trump Protesters Are Tools of the Oligar...,FAKE
6333,4021,"In Ethiopia, Obama seeks progress on peace, se...","ADDIS ABABA, Ethiopia —President Obama convene...",REAL
6334,4330,Jeb Bush Is Suddenly Attacking Trump. Here's W...,Jeb Bush Is Suddenly Attacking Trump. Here's W...,REAL

In [6]:
df.nunique()

Unnamed: 0    6335
title         6256
text          6060
label            2
dtype: int64

In [7]:
df.columns

Index(['Unnamed: 0', 'title', 'text', 'label'], dtype='object')

In [8]:
df['label'].value_counts

<bound method IndexOpsMixin.value_counts of 0       FAKE
1       FAKE
2       REAL
3       FAKE
4       REAL
        ...
6330    REAL
6331    FAKE
6332    FAKE
6333    REAL
6334    REAL
Name: label, Length: 6335, dtype: object>

In [9]:
df.shape

(6335, 4)

In [10]:
df['text'].value_counts

<bound method IndexOpsMixin.value_counts of 0       Daniel Greenfield, a Shillman Journalism Fello...
1       Google Pinterest Digg Linkedin Reddit Stumbleu...
2       U.S. Secretary of State John F. Kerry said Mon...
3       — Kaydee King (@KaydeeKing) November 9, 2016 T...
4       It's primary day in New York and front-runners...
                              ...
6330    The State Department told the Republican Natio...
6331    The ‘P’ in PBS Should Stand for ‘Plutocratic’ ...
6332     Anti-Trump Protesters Are Tools of the Oligar...
6333    ADDIS ABABA, Ethiopia —President Obama convene...
6334    Jeb Bush Is Suddenly Attacking Trump. Here's W...
Name: text, Length: 6335, dtype: object>

In [12]:
number_msgs=len(df['text'].unique())
print("Number of news samples in dataset:",number_msgs)

Number of news samples in dataset: 6060

PRE PROCESSING DATA

In [18]:
df.isnull().sum()

Unnamed: 0    0
title         0
text          0
label         0
dtype: int64

In [19]:
df.columns=['Index','Title','Text','Label']

In [20]:
df.columns

Index(['Index', 'Title', 'Text', 'Label'], dtype='object')

In [21]:
df.dropna()

,Index,Title,Text,Label
0,8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
2,3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL
3,10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE
4,875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL
...,...,...,...,...
6330,4490,State Department says it can't find emails fro...,The State Department told the Republican Natio...,REAL
6331,8062,The ‘P’ in PBS Should Stand for ‘Plutocratic’ ...,The ‘P’ in PBS Should Stand for ‘Plutocratic’ ...,FAKE
6332,8622,Anti-Trump Protesters Are Tools of the Oligarc...,Anti-Trump Protesters Are Tools of the Oligar...,FAKE
6333,4021,"In Ethiopia, Obama seeks progress on peace, se...","ADDIS ABABA, Ethiopia —President Obama convene...",REAL
6334,4330,Jeb Bush Is Suddenly Attacking Trump. Here's W...,Jeb Bush Is Suddenly Attacking Trump. Here's W...,REAL

In [22]:
df.drop('Index',axis=1,inplace=True)

In [23]:
df.columns

Index(['Title', 'Text', 'Label'], dtype='object')

In [24]:
df.drop('Title',axis=1,inplace=True)

In [25]:
df.columns

Index(['Text', 'Label'], dtype='object')

In [26]:
df['Text']

0       Daniel Greenfield, a Shillman Journalism Fello...
1       Google Pinterest Digg Linkedin Reddit Stumbleu...
2       U.S. Secretary of State John F. Kerry said Mon...
3       — Kaydee King (@KaydeeKing) November 9, 2016 T...
4       It's primary day in New York and front-runners...
                              ...
6330    The State Department told the Republican Natio...
6331    The ‘P’ in PBS Should Stand for ‘Plutocratic’ ...
6332     Anti-Trump Protesters Are Tools of the Oligar...
6333    ADDIS ABABA, Ethiopia —President Obama convene...
6334    Jeb Bush Is Suddenly Attacking Trump. Here's W...
Name: Text, Length: 6335, dtype: object

In [27]:
df['Text']=df['Text'].str.lower()

In [28]:
df.head()

                                                Text Label
0  daniel greenfield, a shillman journalism fello...  FAKE
1  google pinterest digg linkedin reddit stumbleu...  FAKE
2  u.s. secretary of state john f. kerry said mon...  REAL
3  — kaydee king (@kaydeeking) november 9, 2016 t...  FAKE
4  it's primary day in new york and front-runners...  REAL

In [29]:
df['Text']=df['Text'].str.replace(r'https\S+','',regex=True)
df.head()

                                                Text Label
0  daniel greenfield, a shillman journalism fello...  FAKE
1  google pinterest digg linkedin reddit stumbleu...  FAKE
2  u.s. secretary of state john f. kerry said mon...  REAL
3  — kaydee king (@kaydeeking) november 9, 2016 t...  FAKE
4  it's primary day in new york and front-runners...  REAL

In [30]:
import nltk
from nltk.corpus import stopwords

In [16]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\DURGA\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [31]:
sw=stopwords.words('english')

In [32]:
df['Text']=df['Text'].apply(lambda words:' '.join(word.lower() for word in words.split() if word not in sw))

In [33]:
df.head()

                                                Text Label
0  daniel greenfield, shillman journalism fellow ...  FAKE
1  google pinterest digg linkedin reddit stumbleu...  FAKE
2  u.s. secretary state john f. kerry said monday...  REAL
3  — kaydee king (@kaydeeking) november 9, 2016 l...  FAKE
4  primary day new york front-runners hillary cli...  REAL

In [34]:
t=nltk.tokenize.WhitespaceTokenizer()
l=nltk.stem.WordNetLemmatizer()
def lt(text):
    return [l.lemmatize(w) for w in t.tokenize(text)]
df['Tokens']=df['Text'].apply(lt)

In [35]:
df.head()

,Text,Label,Tokens
0,"daniel greenfield, shillman journalism fellow ...",FAKE,"[daniel, greenfield,, shillman, journalism, fe..."
1,google pinterest digg linkedin reddit stumbleu...,FAKE,"[google, pinterest, digg, linkedin, reddit, st..."
2,u.s. secretary state john f. kerry said monday...,REAL,"[u.s., secretary, state, john, f., kerry, said..."
3,"— kaydee king (@kaydeeking) november 9, 2016 l...",FAKE,"[—, kaydee, king, (@kaydeeking), november, 9,,..."
4,primary day new york front-runners hillary cli...,REAL,"[primary, day, new, york, front-runner, hillar..."

In [36]:
df['word_length']=df['Text'].str.split().str.len()

In [37]:
df.head()

,Text,Label,Tokens,word_length
0,"daniel greenfield, shillman journalism fellow ...",FAKE,"[daniel, greenfield,, shillman, journalism, fe...",704
1,google pinterest digg linkedin reddit stumbleu...,FAKE,"[google, pinterest, digg, linkedin, reddit, st...",254
2,u.s. secretary state john f. kerry said monday...,REAL,"[u.s., secretary, state, john, f., kerry, said...",248
3,"— kaydee king (@kaydeeking) november 9, 2016 l...",FAKE,"[—, kaydee, king, (@kaydeeking), november, 9,,...",263
4,primary day new york front-runners hillary cli...,REAL,"[primary, day, new, york, front-runner, hillar...",190

In [42]:
df.drop_duplicates(subset='Text',inplace=True)

In [43]:
df.shape

(6059, 4)

In [44]:
df.head()

,Text,Label,Tokens,word_length
0,"daniel greenfield, shillman journalism fellow ...",FAKE,"[daniel, greenfield,, shillman, journalism, fe...",704
1,google pinterest digg linkedin reddit stumbleu...,FAKE,"[google, pinterest, digg, linkedin, reddit, st...",254
2,u.s. secretary state john f. kerry said monday...,REAL,"[u.s., secretary, state, john, f., kerry, said...",248
3,"— kaydee king (@kaydeeking) november 9, 2016 l...",FAKE,"[—, kaydee, king, (@kaydeeking), november, 9,,...",263
4,primary day new york front-runners hillary cli...,REAL,"[primary, day, new, york, front-runner, hillar...",190